* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 80%;
  border-bottom: 1px solid #303030;
  border-left: 1px solid #303030;
  box-shadow: 13px 14px 0px 0px rgba(48, 48, 48, 0.75);
  -webkit-box-shadow: 13px 14px 0px 0px rgba(48, 48, 48, 0.75);
  -moz-box-shadow: 13px 14px 0px 0px rgba(48, 48, 48, 0.75);
}

.col {
  background-color: #f7f7f7;
  padding: 16px;
  height: 166.5px;
  min-width: 166.5px;
  flex: 1;
  border-top: 1px solid #303030;
  border-right: 1px solid #303030;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-col {
  color: white;
  background-color: #303030;
  box-shadow: -1px -1px 0px 5px rgba(255, 255, 255, 1) inset;
  -webkit-box-shadow: -1px -1px 0px 5px rgba(255, 255, 255, 1) inset;
  -moz-box-shadow: -1px -1px 0px 5px rgba(255, 255, 255, 1) inset;
}

aside {
  display: none;
}

main {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 568px) {
  .grid {
    max-width: 90%;
  }
  aside {
    display: none;
  }
}

@media (min-width: 960px) {
  .grid {
    max-width: 90%;
  }
  aside {
    display: none;
  }
}

@media (min-width: 1200px) {
  .grid {
    max-width: 1000px;
  }
  aside {
    display: block;
    background-color: #303030;
    min-height: 100vh;
    width: 20%;
  }
}
