/* Reseteo de los elementos básicos */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: #f7f7f7;
  outline: 15px solid #303030;
  outline-offset: -15px;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.boxes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  box-shadow: 13px 14px 0px 0px rgba(48, 48, 48, 0.75);
  -webkit-box-shadow: 13px 14px 0px 0px rgba(48, 48, 48, 0.75);
  -moz-box-shadow: 13px 14px 0px 0px rgba(48, 48, 48, 0.75);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 65%;
}

.box {
  aspect-ratio: 1;
  background-color: rgb(255, 255, 255);
  color: white;
  border-top: 1px solid #303030;
  border-right: 1px solid #303030;
}

/* Media queries desktop */
@media only screen and (min-width: 600px) {
  /* La barra lateral no se muestra al menos que la pantalla sea
  más grande que 600px */
  .sidebar {
    max-width: 20%;
    width: 20%;
    background-color: antiquewhite;
  }
}
